<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lol">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Ashe"></activity>
        <activity android:name=".Annie" />
        <activity android:name=".Anivia" />
        <activity android:name=".Amumu" />
        <activity android:name=".Alistar" />
        <activity android:name=".Akali" />
        <activity android:name=".Ahri" />
        <activity android:name=".Aatrox" />
        <activity android:name=".Masteryi" />
        <activity android:name=".garen" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name="com.example.splash.Splash" />
    </application>

</manifest>